body{
 background-color: cornflowerblue;
  background-repeat: no-repeat;
  background-size: cover;
}


  
  .ProductCard {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 16px;
    margin: 16px;
    max-width: 300px;
    
    box-sizing: border-box;
  }


  .ProductCard img {
    width: 100%;
    height: 200px; 
    border-radius: 5px;
    
 
  } 

  .infoCard {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgba(0, 0, 0, 0.6);;
    color: rgb(255, 255, 255);
    
}
.infoCard a {
  display: inline-block;
  margin-top: 8px;
  padding: 4px;
  background-color: #007BFF;
  color: white;
  border-radius: 4px;
}


  .products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color:rgba(6, 91, 148, 0.6);;
    border-bottom: 2px solid black; 
    width: 100%;
    padding: 10px; 
   
  }

  .navbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 0, 212);
    margin: 0 15px;
    background-color:rgba(0, 0, 0, 0.6);;
    width: 100px;
    text-decoration: none;
    height: 55px;
    width: 170px;
    font-size: 21px;
    box-sizing: border-box;
    font-weight: bold;
  }


  .Pinfo{
    border: 1px solid #3211e9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    max-width: 400px;
   
    

  }
  .Pinfo img {
    width: 100%;
    height: 200px; 
  }
  
  .background{
    margin-top: 25px;
    margin-bottom: 15px;
    width: 250px;
    text-align: center;
    background: linear-gradient(45deg, rgba(72, 33, 214, 0.5), rgba(0, 0, 0, 0.5));
  }
  
 
   .Pinfo a {
    color: white;
    margin-top: 10px;
   
   }
   .Pinfo button {
    width: 95px;
    height: 28px;
    color: rgb(8, 29, 223);
    border: none;
    border-radius: 10px;
    margin: 4px;
  }

  .Pinfo2 {
    border: 6px solid #b717e7;
    border-radius: 15px;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(45deg, rgba(1, 5, 245, 0.5), rgba(0, 0, 0, 0.7));
    text-align: center;
  }
  .Pinfo2 img {
    display: block;
    max-width: 100%;
    border-radius: 8px;
  }
 .Pinfo2 button{
  height: 35px;
  width: 95px;
  border-radius: 15px;
  margin-bottom: 18px;
  font-size: x-large;
  color: #b717e7;
  background: linear-gradient(45deg, rgba(1, 5, 245, 0.5), rgba(0, 0, 0, 0.7));

 }


  .form-create {
    border: 5px solid #b717e7;
    border-radius: 10px;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(45deg, rgba(131, 110, 223, 0.5), rgba(0, 0, 0, 0.5));
  }

  .form-create label{
    width: 100%;
    margin-bottom: 10px;
    font-size: larger;
  }
  .form-create select{
    width: 100%;
    margin-bottom: 10px;
  }
  .form-create input{
    width: 100%;
    margin-bottom: 10px;
  }
  .form-create input {
    width: 100%;
    margin-bottom: 10px;
  }
  .form-create textarea {
    width: 100%;
    margin-bottom: 10px;
  }

  .editPro {
    border: 5px solid #b717e7;
    border-radius: 10px;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(45deg, rgba(131, 110, 223, 0.5), rgba(0, 0, 0, 0.5));
  }

  .editPro h1 {
    color: #b717e7;
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .editPro form {
    display: grid;
    gap: 8px;
  }
  
  .editPro label {
    font-size: 20px;
    font-weight: bolder;
  }